body {
  border-top: 10px solid #004f80; 
  font-family: 'BundesSansWeb-Regular';
}
@font-face {
  font-family: 'BundesSansWeb-Bold';
  src: local('BundesSansWeb-Bold'), url('../fonts/BundesSansWeb-Bold.woff');
}
@font-face {
  font-family: 'BundesSansWeb-Regular';
  src: local('BundesSansWeb-Regular'), url('../fonts/BundesSansWeb-Regular.woff');
}
@font-face {
  font-family: 'BundesSerifWeb-Bold';
  src: local('BundesSerifWeb-Bold'), url('../fonts/BundesSerifWeb-Bold.woff');
}
@font-face {
  font-family: 'BundesSerifWeb-Regular';
  src: local('BundesSerifWeb-Regular'), url('../fonts/BundesSerifWeb-Regular.woff');
}
input:focus, button:focus, textarea:focus {
  border-color: #000;
  outline: 0!important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
ul {
   padding: 0;
}
li {
  list-style: none;
}
.wrap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1252px;
  min-width: 320px;
  padding: 0 4%;
}
/*              HEADER                      */

.logo img {
  width: 168px;
  margin-top: 20px;
}
.nav-item {
  padding-top: 10px ;
  .nav-link {
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
    color: #6b7581;
  }
  .nav-link:last-child {
    padding-right: 0;
  }
  a:hover {
    color: #000;
    text-decoration: underline !important;
  }
}
.header__menu_btn {
  display: none;
  font-size: 15px;
  text-transform: uppercase;
  background: #004f80;
  color: #fff;
  border-radius: 4px;
  padding: 9px 13px;
  line-height: 15px;
}
.nav__menu_btn:hover {
  color: #fff;
}
.header__search {
  display: flex;
  justify-content: flex-end; 
  margin-top: 25px;
  position: relative;
}
.header__search input:focus {
  border: 1px solid #004f80;
}
.header__search input {
  color: #5b646e;
  padding: 5px 16px 6px;
  background: #eeeeed;
  border: 1px solid #d5d5d3;
  border-radius: 4px;
  width: 180px;
  height: 36px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
}
.header__search input::placeholder {
  color: #909fb1;
  font-weight: 100;
}
.header__search a {
  color: #5b646e;
  position: absolute;
  right: 10px;
  top: 6px;
}
.header__search a:hover {
  color: #000;
}
.header__search a i {
  font-size: 20px;
  transform: rotate(90deg);
}

.header__menu_bottom {
  margin-top: 50px;
  margin-bottom: 20px;
}
.header__menu_bottom li {
  margin-left: 30px;
}
.header__nav-link {
  color: #000;
  font-size: 20px;
  font-family: 'BundesSerifWeb-Regular';
  height: 60px;
}
.header__nav-link:hover {
  color: #004f80;
  text-decoration: none;
}
/*           SLIDER                       */


.slider {
  background-color: #004f80;
  margin-top: 20px;
}
.carousel-item img {
  max-width: 59%;
}
.carousel {
  position: relative;
}
.carousel-caption {
  top: 20px;
  left: 64%;
  text-align: left;
  width: 400px;
  padding-top: 50px;
}
.carousel-caption a {
  color: #fff;
}
.carousel-caption h2 {
  font-size: 26px;
  font-family: 'BundesSerifWeb-Regular';
}
.carousel-caption p {
  font-size: 18px;
}
.carousel-indicators {
  justify-content: flex-end;
}
.carousel-indicators li {
  background: none;
  opacity: .5;
  transition: opacity .6s ease;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  color: #fff;
  text-indent: 10px;
}
.carousel__text {
  width: 400px;
  padding-left: 70px;
}
.carousel__text a {
  color: #fff;
}
.carousel__text h2 {
  font-size: 26px;
  font-family: 'BundesSerifWeb-Regular';
}
.carousel__text p {
  font-size: 18px;
}
#pauseButton {
  width: 30px;
  height: 30px;
  background-color: #fff;
}
#pauseButton i {
  color: #004f80;
}


/*           main    infobox                       */

.teaser { 
  h2 {
  color: #6b7581;
  font-size: 18px;
  padding: 15px 0 15px 0;
  }
}
.teaser__list_img {
  width: 30%;
  margin-right: 30px;
  img {
    width: 100%;
    min-width: 120px;
  }
}
.teaser__list {
  border-bottom: 1px dotted #a6acb3;
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-right: 100px;
  .teaser__list_text {
    margin-top: -10px;
    padding-right: 25px;
    width: 70%;
     a {
      color: #000;
    }
    h3 {
      font-size: 13px;
      font-family: 'BundesSansWeb-Bold';
      font-weight: bold;
      text-transform: uppercase;
      color: #004f80;
    }
    h4 {
      font-size: 18px;
      font-family: 'BundesSerifWeb-Regular';
    }
    p {
      font-size: 15px;
    }
    .teaser__list_link a {
      color: #004f80;
      font-size: 15px;
    }
    .teaser__list_link i {
      font-size: 15px;
      padding-right: 5px;
    }
  }
}
.teaser__btn {
  font-size: 15px;
  color: #fff;
  background-color: #004f80;
  border: none;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px 7px;
  margin-bottom: 50px;
  &:hover {
    color: #fff;
    text-decoration: underline;
    background-color: #a6acb3;
  }
}


/*           main infobox                      */
main .wrap {
  padding-right: 15px;
}
.infobox__adress {
  background-color: #a0cde9;
  padding-top: 20px;
  padding-bottom: 50px;
}
.infobox__maps {
  background-color: #e0edf7;
  padding-top: 20px;
}
.infobox__adress .infobox__icon,
.infobox__maps .infobox__icon {
  padding: 0;
  i {
  display: block;
  }
}
.fa-question-circle,
.fa-external-link-alt {
  font-size: 48px;
  color: #004f80;
  text-align: center;
}
.infobox__contacts h3 {
  color: #004f80;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.infobox__contacts h4 {
  font-weight: bold;
  font-family: 'BundesSansWeb-Bold';
  margin-bottom: 0;
}
.infobox__adress .infobox__contacts {
  padding-left: 0;
  h4, p, p a {
    font-size: 15px;
    margin-bottom: 0;
    line-height: 1.8;
  }
}
.infobox__maps .infobox__contacts {
  padding-left: 0;
}
.fa-envelope,
.fa-download {
  padding-right: 5px;
  font-size: 16px;
}
.infobox__border {
  border-bottom: 1px dotted #004f80;
  margin-top: 15px;
  margin-bottom: 20px;
}

/*           footer                      */


.footer__social {
  width: 100%;
  height: 50px;
  background-color: #fff;
  background: url(../img/bg-striped.png) repeat 0 0;
}
.footer__social_link {
  width: 20px;
  margin-left: 30px;
  margin-top: 10px;
}
.footer__social_link svg:hover {
  fill: #004f80;
}
.footer__links {
  font-family: 'BundesSansWeb-Regular';
  font-size: 13px;
  line-height: 1.5384615385;
  flex-direction: column;
  width: 100%;
  max-height: 389px;
  background-color: #455157;
}
.footer__links_box {
  margin-top: 25px;
  margin-bottom: 70px;
}
.footer__links_box a,
.footer__copy p,
.footer__copy span,
.footer__copy a {
  color: #fff;
}
.footer__links_box a:hover {
  text-decoration: underline;
}
.footer__title {
  font-family: 'BundesSansWeb-Bold';
  text-transform: uppercase;
  margin-bottom: 8px;
}
.footer__copy {
  padding-bottom: 61px;
}
.footer__btn {
  color: #004f80;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 4px 4px 0 0 ;
  padding: 5px 20px;
  font-size: 15px;
  font-weight: bold;
}





/*             responsive                      */



.nav__box {
  width: 100%;
  cursor: pointer;
  background: #0778a5;
  border-bottom: 1px solid #6aaec9;
}
.nav__title.open svg {
  transform: rotate(180deg);
}
.nav__box p {
  color: #fff;
  font-family: 'BundesSerifWeb-Regular';
  font-size: 17px;
  margin-bottom: 0;
}
.nav__title {
  width: 100%;
  height: 50px;
  padding: 0 20px;
}

.nav__link {
  height: 0;
  overflow: hidden;
}
.nav__link.open {
  height: auto;
  overflow: auto;
}
.nav__link li {
  background-color: #004f80;
  width: 212px;
}
.nav__link a {
  color: #fff;
  border-bottom: 1px solid #6aaec9;
  width: 180px;
  text-decoration: none;
  display: block;
}
.navbar__open_link {
  border-bottom: 1px solid #cdcdcd;
  background-color: #fff;
}
.navbar__open_link > .open__link {
  font-size: 15px;
  color: #6b7581;
  text-transform: uppercase;
}
.responsive__navbar a {
  padding: 14px 20px;  
  display: block;
}
#responsive.open {
  transform: translateX(0);
  transition: all 400ms linear;
  cursor: pointer;
}
#responsive {
  transform: translateX(-100%);
  transition: all 400ms linear;
  top: 10px;
  left: 0;
  position: fixed;
  z-index: 100;
  display: none;
}
#background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #004f80;
  opacity: 0.5;
  z-index: 50;
  transition: all 400ms linear;
}
#background.open,
#responsive {
  display: block !important;
  transition: all 400ms linear;
  cursor: pointer;
}



/*                       @media                           */

@media (max-width: 1024px) {

  .header__menu nav,
  .infobox__adress .infobox__icon,
  .infobox__maps .infobox__icon,
  .footer__links_box {
    display: none !important;
  }
  .header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header__search {
    margin: 0;
    input {
      width: 40px;
    } 
  }
  .header__menu_btn {
    display: block;
    width: 67px;
    height: 36px;
    margin-right: 11px;
  }
  .infobox__adress .infobox__contacts,
  .infobox__maps .infobox__contacts {
    padding-left: 30px;
  }
  .footer__social_links {
    justify-content: center !important;
  }
  .footer__copy {
    padding: 20px 0 10px;
    width: 100%;
  }
  .responsive__navbar {
    display: block;
}
}
@media (min-width: 820px) and (max-width: 1024px) {

  .teaser {
    .teaser__list {
      margin-right: 0;
      .teaser__list_text {
        padding-right: 0;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 820px) {

  main .wrap .row {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .teaser {
    min-width: 100%;
    .teaser__list {
      margin-right: 0;
      .teaser__list_text {
        padding-right: 0;
      }
    }
  }
  .infobox__adress .infobox__icon,
  .infobox__maps .infobox__icon {
    display: block !important;
  }
  .infobox {
    min-width: 100%;
  }
  .wrap {
    padding: 0;
  }
  .teaser,
  .infobox__adress .infobox__contacts, 
  .infobox__maps .infobox__contacts {
    padding-left: 50px !important;
  }
  .teaser h2 {
    text-align: center;
    margin: 20px 0;
  }
  .teaser__btn {
    width: 100%;
    margin: 0 auto 20px;
  }
  .logo {
    margin-left: 20px;
  }
  .header__menu {
    margin-right: 20px;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .teaser {
    min-width: 100%;
    .teaser__list {
      margin-right: 0;
      .teaser__list_text {
        padding-right: 0;
      }
    }
  }
  .teaser__btn {
    width: 100%;
    margin: 0 auto 20px;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .teaser__list_text p {
    display: none;
  }
  .teaser {
    min-width: 100%;
    .teaser__list {
      margin-right: 0;
      .teaser__list_text {
        padding-right: 0;
      }
    }
  }
  .teaser__btn {
    width: 100%;
    margin: 0 auto 20px;
  }
}



/*

@media screen and (max-width: 1024px) {
  
  .responsive__navbar {
      display: block;
  }
  
  
  
  .header__search 
  .footer__links_box {
      display: none;
  }
  .footer__copy {
      padding: 20px 0 10px;
      width: 100%;
  }
  main .container {
      max-width: 100%;
  }
  .rightbar {
      margin-left: 0;
  }
  .rightbar__icon {
      display: none;
  }
  .rightbar__contacts {
      padding: 10px 10px 25px;
  }
  .rightbar__contacts_map,
  .rightbar__info {
      margin-left: 15px;
  }
}
@media (max-width: 820px){
  .wrap {
    width: 100vw;
    padding: 0;
  }
  .wrap > .row {
    flex-direction: column;
  }
  .wrap > .news {
    min-width: 100% !important;
  }
  .news__block {
    padding: 0 15px;
  }
  .news__block_text {
    margin-top: 15px;
  }
  .news__block_btn {
    display: block;
    margin: 0 auto 30px;
  }
  .wrap .rightbar,
  .wrap .maps {
    margin-left: 0;
    padding-left: 50px;
}
}
@media (min-width: 768px) {
  .news {
    max-width: 100% !important;
  }
}


*/







/* @media (max-width: 992px){



}

.fa-question-circle, .fa-external-link-alt {
  display: none;
}
.content__box_img img{
width:100%;
}


}

@media (min-width: 768px){
  main .container {
      max-width: 100%;
  
  }
} */








/*  */
/* @media (min-width: 801px) and (max-width: 1024px) {

  .content__box_img img {
      width: 197px;
  }
  main > .container {
      margin: 0;
      min-width: 100%;
  }
  .rightbar {
      display: none;
  }
  .responsive__rightbar {
      display: block;
  }
  .footer__social_links {
      justify-content: space-around !important;
  }
  
} */